@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.css';

.ng-valid[required], .ng-valid.required {
    border-right: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-right: 5px solid #a94442;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #808080;
}