body {
    background-image: url('../Images/bg.jpg');
    background-repeat: repeat;
}

.h32 {
    height: 32vh;
}

.player-name {
    font-size: 16pt;
}

.caption {
    font-weight: bolder;
    margin-bottom: 0;
}

.btn:disabled {
    cursor: not-allowed;
}

.bots-input {
    text-align: center;
}

.bot-seat {
    background-image: url("../Images/robot.png");
    background-repeat: no-repeat;
    background-size: 65%;
    background-position-x: 100%;
    background-position-y: 100%;
}

.player-seat {
    background-image: url("../Images/player.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 70%;
}