<kendo-grid [data]="gridView"
            [pageSize]="state.take"
            [skip]="state.skip"
            [height]="500"
            [filterable]="true"
            [pageable]="true"
            [reorderable]="true"
            [resizable]="true"
            [sortable]="{
                allowUnsort: allowUnsort,
                mode: 'single'
            }"
            [sort]="state.sort"
            (dataStateChange)="dataStateChange($event)"
            >
    <kendo-grid-column field="id" title="ID" width="50" [filterable]="false">
    </kendo-grid-column>
    <kendo-grid-column field="machineName" title="Machine Name">
    </kendo-grid-column>
    <kendo-grid-column field="creationDate" title="Date">
    </kendo-grid-column>
    <kendo-grid-column field="level" title="Level">
    </kendo-grid-column>
    <kendo-grid-column field="message" title="Message">
    </kendo-grid-column>
    <kendo-grid-column field="logger" title="Logger">
    </kendo-grid-column>
    <kendo-grid-column field="callSite" title="Call Site">
    </kendo-grid-column>
    <kendo-grid-column field="exception" title="Exception">
    </kendo-grid-column>

</kendo-grid>