<div class="container-fluid text-center mt-3">
    <div class="row">
        <div class="col-lg-9">
            <div class="row h33">
                <div class="col-md-3">
                    <div *ngIf="game">
                        <img src="../../dist/assets/dealer.png" />
                        <p class="caption">{{ game?.dealer.name }} <span class="badge badge-secondary">{{ game?.dealer.hand.score }}</span></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="playingCards simpleCards">
                        <ul class="hand">
                            <li *ngFor="let card of game?.dealer.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div clas="col-md-3">
                    <div *ngIf="error" class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </div>
            </div>
            <div class="row h33">
                <div class="col-md-3">
                    <div class="caption">Choose the number of bots</div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button [disabled]="botsNumber == 0" type="button" (click)="decBotsNumber()" class="btn btn-danger btn-number">
                                <span>-</span>
                            </button>
                        </span>
                        <input disabled type="text" class="bots-input form-control input-number" value="{{ botsNumber }}">
                        <span class="input-group-btn">
                            <button [disabled]="botsNumber == 5" type="button" (click)="incBotsNumber()" class="btn btn-success btn-number">
                                <span>+</span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="caption">Choose your bet</div>
                    <div class="slidecontainer">
                        <input #betSlider (input)="updateSliderValue(betSlider.value)"
                               [disabled]="game && game?.player.gameResult == 0"
                               type="range" min="50" max="100" value="50" step="5" class="slider">
                    </div>
                    <h3 id="bet_output">{{ sliderBetValue | currency }}</h3>
                    <div class="btn-group-vertical">
                        <button [disabled]="game && game?.player.gameResult == 0" (click)="getGame()" type="button" class="btn btn-primary">NEW GAME</button>
                        <button [disabled]="game && game?.player.gameResult == 0" (click)="getLoadedGame()" type="button" class="btn btn-secondary">LOAD GAME</button>
                    </div>
                </div>
                <div *ngIf="game" class="col-md-3">
                    <div class="caption">Actions</div>
                    <div class="btn-group-vertical">
                        <button [disabled]="game?.player.gameResult != 0" (click)="hit()" class="btn btn-primary">HIT</button>
                        <button [disabled]="game?.player.gameResult != 0" (click)="doubleDown()" class="btn btn-info">DOUBLE</button>
                        <button [disabled]="game?.player.gameResult != 0" (click)="stand()" class="btn btn-secondary">STAND</button>
                        <button [disabled]="game?.player.gameResult != 0" (click)="surrender()" class="btn btn-danger">SURRENDER</button>
                    </div>
                </div>
                <div *ngIf="game" class="player-seat col-md-3">
                    <div *ngIf="game?.player.gameResult > 0" class="ribbon {{ game?.player.gameResultMessage | lowercase }}">
                        <span>{{ game?.player.gameResultMessage }}</span>
                    </div>
                    <p class="caption">{{ game?.player.name }} <span class="badge badge-secondary">{{ game?.player.hand.score }}</span></p>
                    <p class="balance">
                        {{ game?.player.balance | currency }}
                        <span *ngIf="game?.player.gameResult > 0">
                            (<span [class.winMoney]="game?.player.balanceDelta > 0" [class.loseMoney]="game?.player.balanceDelta < 0">
                                {{ game?.player.balanceDelta | currency }}
                            </span>)
                        </span>
                    </p>
                    <div class="playingCards simpleCards rotateHand">
                        <ul class="hand">
                            <li *ngFor="let card of game?.player.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="bot-seat col-md-1" *ngFor="let bot of game?.bots">
                    <div *ngIf="bot?.gameResult > 0" class="ribbon {{ bot?.gameResultMessage | lowercase }}">
                        <span>{{ bot?.gameResultMessage }}</span>
                    </div>
                    <p class="caption">{{ bot?.name }} <span class="badge badge-secondary">{{ bot?.hand.score }}</span></p>
                    <p class="balance">
                        {{ bot?.balance | currency }}
                        <span *ngIf="game?.player.gameResult > 0">
                            (<span [class.winMoney]="bot?.balanceDelta > 0" [class.loseMoney]="bot?.balanceDelta < 0">
                                {{ bot?.balanceDelta | currency }}
                            </span>)
                        </span>
                    </p>
                    <div class="playingCards simpleCards rotateHand">
                        <ul class="hand">
                            <li *ngFor="let card of bot?.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div *ngIf="log" id="log-view">
                <ul class="list-group">
                    <li class="list-group-item active">GAME LOG</li>
                    <li class="list-group-item">
                        <div *ngFor="let entry of log">
                            [{{ entry.time | date:'HH:mm:ss' }}] <b>{{ entry.player }}</b> {{ entry.message }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>