<div class="container-fluid text-center mt-3">
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Error!</h5>
                </div>
                <div id="modal-error" class="modal-body">
                    You are not logged in!<br />Go back to the <a href="/">main page</a> and enter your name.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="row h33">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p class="caption">{{ game?.dealer.name }} <span class="badge badge-secondary">{{ game?.dealer.hand.score }}</span></p>
                    <div class="playingCards simpleCards">
                        <ul class="hand">
                            <li *ngFor="let card of game?.dealer.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div clas="col-md-3"></div>
            </div>
            <div class="row h33">
                <div class="col-md-6">
                    <div class="caption">Choose your bet</div>
                    <div class="slidecontainer">
                        <input type="range" min="50" max="100" value="50" step="5" class="slider" id="bet_range">
                    </div>
                    <h3 id="bet_output">50</h3>
                    <button type="button" class="btn btn-primary">PLACE</button>
                </div>
                <div class="col-md-3">
                    <div class="caption">Actions</div>
                    <div class="btn-group-vertical">
                        <button type="button" (click)="hit()" class="btn btn-primary">HIT</button>
                        <button type="button" (click)="stand()" class="btn btn-secondary">STAND</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <p class="caption">{{ game?.player.name }} <span class="badge badge-pill badge-secondary">{{ game?.player.hand.score }}</span></p>
                    <div class="playingCards simpleCards rotateHand">
                        <ul class="hand">
                            <li *ngFor="let card of game?.player.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1" *ngFor="let bot of game?.bots">
                    <p class="caption">{{ bot?.name }}{{ bot?.id }} <span class="badge badge-pill badge-secondary">{{ bot?.hand.score }}</span></p>
                    <div class="playingCards simpleCards rotateHand">
                        <ul class="hand">
                            <li *ngFor="let card of bot?.hand.cards">
                                <span class="card rank-{{ card.rank }} {{ card.suit | lowercase }}">
                                    <span class="rank">{{ card.rank }}</span>
                                    <span class="suit"></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <p>Game Log</p>
            <div id="log-view">

            </div>
        </div>
    </div>
</div>