@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Error!</h5>
                </div>
                <div class="modal-body">
                    You are not logged in!<br />Go back to the <a href="/">main page</a> and enter your name.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="row h33">
                <div class="col-md-12">
                    <span id="name-d">Dealer</span>
                    <span id="score-d" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-d" class="hand top">

                    </div>
                </div>
            </div>
            <div class="row h33">
                <div class="col-md-3">
                    <span id="name-p">Player</span>
                    <span id="score-p" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-p" class="hand left">

                    </div>
                </div>
                <div class="col-md-6">
                    <div>Choose your bet</div>
                    <div class="slidecontainer">
                        <input type="range" min="50" max="100" value="50" step="5" class="slider" id="bet_range">
                    </div>
                    <h3 id="bet_output">50</h3>
                    <button type="button" class="btn btn-primary">HIT</button>
                    <button type="button" class="btn btn-secondary">STAND</button>
                </div>
                <div class="col-md-3">
                    <span id="name-0">Bot 1</span>
                    <span id="score-0" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-0" class="hand right">

                    </div>
                </div>
            </div>
            <div class="row h33">
                <div class="col-md-3">
                    <span id="name-1">Bot 2</span>
                    <span id="score-1" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-1" class="hand left-corner">

                    </div>
                </div>
                <div class="col-md-3">
                    <span id="name-2">Bot 3</span>
                    <span id="score-2" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-2" class="hand bottom">

                    </div>
                </div>
                <div class="col-md-3">
                    <span id="name-3">Bot 4</span>
                    <span id="score-3" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-3" class="hand bottom">

                    </div>
                </div>
                <div class="col-md-3">
                    <span id="name-4">Bot 5</span>
                    <span id="score-4" class="badge badge-pill badge-secondary">00</span>
                    <div id="hand-4" class="hand">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <p>Game Log</p>
            <div id="log-view">

            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/main")