@model List<ProjectBj.ViewModels.PlayerView>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Play</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
