<div class="container w-50 mt-5">
    <form #loginForm="ngForm">
        <div id="player-name-block" class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Enter your name</span>
            </div>
            <input #playerName required [(ngModel)]="name"
                   type="text" id="player-name" name="ame" class="form-control" />
        </div>
        <input #loginButton routerLink="/game" id="play-button" [queryParams]="{ name: playerName.value }"
               [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary" value="LOGIN" />
    </form>
</div>