<!DOCTYPE html>

<html>
<head>
    <base href="/dist/">
    <meta name="viewport" content="width=device-width" />
    <title>Blackjack</title>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
