<!DOCTYPE html>

<html>
<head>
    <base href="/dist/">
    <meta name="viewport" content="width=device-width" />
    <title>Blackjack</title>
    <style>
        body {
            background-image: url('/src/assets/bg.jpg');
            background-repeat: repeat;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
