.h33 {
    height: 33vh;
}

.hand img {
	position: relative;
}

.top {
	transform: rotate(205deg);
}

.bottom {
	transform: rotate(25deg);
}

.left-corner {
	transform: rotate(90deg);
}

.left {
	transform: rotate(115deg);
}

.right {
	transform: translate(0, 2em) rotate(-65deg);
}

.hand img:nth-child(1) {
    left: 3em;
	-moz-transform: translate(1.9em, .9em) rotate(-42deg);
    -webkit-transform: translate(1.9em, .9em) rotate(-42deg);
    -o-transform: translate(1.9em, .9em) rotate(-42deg);
    transform: translate(1.9em, .9em) rotate(-42deg);
}
.hand img:nth-child(2) {
	right: 0;
    -moz-transform: translate(1.5em, .5em) rotate(-33deg);
    -webkit-transform: translate(1.5em, .5em) rotate(-33deg);
    -o-transform: translate(1.5em, .5em) rotate(-33deg);
    transform: translate(1.5em, .5em) rotate(-33deg);
}
.hand img:nth-child(3) {
	right: 3em;
    -moz-transform: translate(1.1em, .3em) rotate(-24deg);
    -webkit-transform: translate(1.1em, .3em) rotate(-24deg);
    -o-transform: translate(1.1em, .3em) rotate(-24deg);
    transform: translate(1.1em, .3em) rotate(-24deg);
}
.hand img:nth-child(4) {
	right: 6em;
    -moz-transform: translate(.7em, .2em) rotate(-15deg);
    -webkit-transform: translate(.7em, .2em) rotate(-15deg);
    -o-transform: translate(.7em, .2em) rotate(-15deg);
    transform: translate(.7em, .2em) rotate(-15deg);
}
.hand img:nth-child(5) {
	right: 9em;
    -moz-transform: translate(.3em, .1em) rotate(-6deg);
    -webkit-transform: translate(.3em, .1em) rotate(-6deg);
    -o-transform: translate(.3em, .1em) rotate(-6deg);
    transform: translate(.3em, .1em) rotate(-6deg);
}